@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&display=swap');

.principal__cadastrar-paciente__titulo {
    font-family: "Yaldevi", sans-serif;
    padding: 0 0 2% 4%;
    font-size: 40px;
    font-weight: 600;
}

#cadastrar-paciente_formulario {
    width: 100%;
    padding: 0 4% 0 4%;
}

.cadastrar-paciente__formulario__caixa-topicos__titulo {
    font-family: "Yaldevi", sans-serif;
    font-size: 25px;
    margin-bottom: 1%;
    font-weight: 500;
}

.cadastrar-paciente__formulario__legenda {
    font-family: "Yaldevi", sans-serif;
    font-size: 15px;
}

.cadastrar-paciente__formulario__campo {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
}

.cadastrar-paciente__formulario__caixa-topicos__caixa-campos {
    width: 100%;
    display: flex;
    gap: 2%;
}

.cadastrar-paciente__formulario__caixa-topicos__caixa-campo__item {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.cadastrar-paciente__formulario__botao {
    background-color: var(--secundario);
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.5s ease;
}