@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&display=swap');

.principal__listar-pacientes__titulo {
    font-family: "Yaldevi", sans-serif;
    padding: 2% 0 0 4%;
    font-size: 40px;
    font-weight: 600;
}

.principal__listar-pacientes__subtitulo {
    font-family: "Yaldevi", sans-serif;
    padding: 0 0 2% 4%;
    font-size: 20px;
    font-weight: 200;
}

.principal__listar-pacientes__card {
    background-color: var(--branco-principal);
    height: 5%;
    margin: 1% 2%;
    padding: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.principal__listar-pacientes__card__separador {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.principal__listar-pacientes__card__foto {
    width: 6%;
    margin: 0 2%;
}

.principal__listar-pacientes__card__infos__nome {
    font-family: "Yaldevi", sans-serif;
    color: var(--preto-principal);
    font-size: 20px;
    margin-bottom: 4%;
}

.principal__listar-pacientes__card__infos__adicionais {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-family: "Yaldevi", sans-serif;
    color: var(--preto-principal);
    font-size: 14px;
}

.principal__listar-pacientes__card__botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}

.principal__listar-pacientes__card__botao {
    width: 30%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botao-prontuario {
    background-color: #BBB9B9;
}

.botao-editar {
    background-color: #5CCC82;
}

.botao-remover {
    background-color: #EA5555;
}

.principal__listar-pacientes__card__botao__texto {
    font-family: "Yaldevi", sans-serif;
    color: var(--preto-principal);
    font-size: 10px;
}